
body.blog, body.single, body.archive{
	padding: 0;
	margin: 0;
}
.main.blog{
	// display: flex;
	@include respond-to('medium'){
		flex-direction: column;
	}
	.content{
		background: #FFF;
	}
	code{
		color: $sassyPink;
	}
	h2.blogTitle{
		text-align: center;
		display: block;
		a{
			text-decoration: none;
			color: $copy;
		}
		@include respond-to('medium'){
			// display: none;
		}
	}
	.container{
		// flex: 1 0 70%;
		width: 70%;
		float: left;
		margin-left: 30%;
		@include respond-to('medium'){
			width: 100%;
			margin-left: 0;
			margin-top: 50%;
			position: relative;
			z-index: 99;
		}
	}
	.header-logo{
		width: 80%;
		margin: 0 auto;
		@include respond-to('medium'){
			width: 30%;
		}
	}
	article{
		padding: 10px 70px;
		color: darken($boldBlue, 30);
		@include respond-to('small'){
			padding: 10px 20px;
		}
		h2{
			line-height: 1.2;
		}
		h1, .entry-title a{
			text-decoration: none;
			text-transform: uppercase;
			font-size: 3.5rem;
			letter-spacing: 0px;
			text-align: left;
			color: $sassyPink;
			border-bottom: 3px solid $sassyPink;

		}
		.entry-content{
			padding: 0;
			@include respond-to('small'){
				text-align: left;
			}
			a{
				text-decoration: none;
				color: darken(#39FBEC, 20);
				&:hover{
					text-decoration: line-through;
				}
			}
			p{
				font-size: 1.6rem;
				font-weight: 400;
				line-height: 1.5;
				letter-spacing: 1px;
			}
			h3{
				color: $sassyPink;
				font-size: 2.4rem;
			}
		}
	}
}


.sidebar{
	// flex: 1 0 30%;
	width: 30%;
	position: fixed;
	left: 0;
	top: 0;
	float: left;
	padding-top: 50px;
	@include respond-to('medium'){
		width: 100%;
	}
}

.single{
	.blogNav{
		padding: 0;
	}
}


.blogNav{
	padding: 0 70px;
	display: flex;
	justify-content: space-between;
	span{
		font-size: 4.6rem;
		position: relative;
		top: 12px;
	}
	p{
	font-size: 1.6rem;
	text-transform: uppercase;
	letter-spacing: 0;	
	a{
		text-decoration: none;
		padding: 0 10px;
		color: darken(#39FBEC, 20);
	}
	}
}

.tagsList{
	margin: 0;
	padding: 0;
	display: flex;
	text-transform: uppercase;
	margin: 10px 0;
	li{
		list-style: none;

		a{
			text-decoration: none;
			border: 3px solid #39FBEC;
			color: $boldBlue;
			padding: 5px 10px;
		}
	}
}


.blogEnd{
	color: $sassyPink;
	font-style: italic;
}